<body>
    <div *ngIf="!authResponse.mfaEnabled">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title class="centered-title">Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="authenticate()">
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" id="username" name="username" required [(ngModel)]="authRequest.email">
                        <mat-error *ngIf="!authRequest.email">Email is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" id="password" name="password" required [(ngModel)]="authRequest.password">
                        <mat-error *ngIf="!authRequest.password">Password is required</mat-error>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">Login</button>

                    <div class="login-link">
                        <span>Don't have an account? </span>
                        <a routerLink="/register">Register</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="authResponse.mfaEnabled">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title class="centered-title">Two-Factor Authentication</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form (ngSubmit)="verifyCode()">
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Enter 6-digit Code</mat-label>
                        <input matInput type="text" id="validationCode" name="validationCode" required [(ngModel)]="otpCode">
                        <mat-error *ngIf="otpCode.length < 6">Please enter a valid code</mat-error>
                    </mat-form-field>

                    <button mat-raised-button color="accent" type="submit" [disabled]="otpCode.length < 6">
                        Verify Code
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</body>